.App {
  background-color: rgb(19, 121, 209);
}

.card {
  height: 550px;
  width: 350px;
  background-color: rgb(252, 254, 255);
  padding: 5px;
  gap: 5px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart-btn {
  display: flex;
  justify-content: center;
}

.text {
  padding-left: 30px;
  
}

.count {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 25px;
}

.nav-list {
  border: none;
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
}

.cart-count {
  background-color: rgba(240, 57, 2, 0.877);
  color: rgb(155, 11, 107);
}
